<!--Header Part -->
<div ng-include="'views/header.html'"></div>

<div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="home-contact">
                    <span>
                        Give us an opportunity to assist you
                    </span>
                </div>
                <div class="home-contact-subheading">
                    <span>
                        Drop Your Message
                    </span>
                </div>
            </div>
        </div>
</div>
<div class="container">
    <div class="row">
        <br/>
        <form class="form-horizontal" id="home-contact-form">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="required-filed">
                                    <input type="text" class="form-control"  placeholder="Full Name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control"  placeholder="Company Name">
                            </div>
                        </div>
                    </div> 
                </div> 
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="required-filed">
                                  <input type="email" class="form-control"  placeholder="Email">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="required-filed">
                                      <input type="text" class="form-control"  placeholder="Contact Number">
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea class="form-control" rows="3" placeholder="Address" style="resize: none;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea class="form-control" rows="3" placeholder="Comment" style="resize: none;"></textarea>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="home-contactus-address">
                                    <span>Head Office : </span><br/>
                                    <span>Srijan Digital Platform Pvt. Ltd</span><br/>
                                    <span>C/O Regus Business Center Block A,Level 1, <br/>Shiv Nagar Estate, Dr.Annie Besant Road <br/> Worli,Mumbai-400018</span>
                                </div>
                            </div>    
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="mail-txt-adjs">
                                    <img src="image/mail.png" alt="">&nbsp; <span class="mail-txt">sales@pharmerz.com</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="phone-txt-adjs">
                                    <img src="image/phone.png" alt="">&nbsp; <span class="phone-txt">+91 7722074442</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <button type="button" class="btn btn-primary contact-btn pull-right">SUBMIT</button>
                    </div> 
                </div>
            </div>
        </form>
    </div>
</div>
<br/><br/>

<!-- footer Part -->
<div ng-include="'views/footer.html'"></div>