
<!--Header Part -->
<div ng-include="'views/header.html'"></div>

<!--Home Page  Part-->

<!--Slider part remain-->
<div class="slider-box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="">
                    <div class="slider-box-txt">
                        <span>Web Banners</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="counting-box">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="countigbox-txt">
                            <span class="countigbox-count-txt">1,234+</span><br/>
                            <span class="countigbox-name-txt">API's</span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="countigbox-txt">
                            <span class="countigbox-count-txt">2,154+</span><br/>
                            <span class="countigbox-name-txt">Pellets</span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="countigbox-txt">
                            <span class="countigbox-count-txt">7,845+</span><br/>
                            <span class="countigbox-name-txt">Fine Chemicals</span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="countigbox-txt">
                            <span class="countigbox-count-txt">6,580+</span><br/>
                            <span class="countigbox-name-txt">Finished Formulations</span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="countigbox-txt">
                            <span class="countigbox-count-txt">4,850+</span><br/>
                            <span class="countigbox-name-txt">Intermediates</span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="countigbox-txt">
                            <span class="countigbox-count-txt">2,134+</span><br/>
                            <span class="countigbox-name-txt">Laboratory Equipment's</span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>


<div class="container-fluid joinus-path-image">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="">
<!--                <img src="image/jointhepath_redesign1.png" alt="">-->
            </div>
        </div>
    </div>
</div>


<div class="video-box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="video-box-header">
                    <span class="video-box-header-txt">Learn more - What we do</span> 
                </div>
                <div class="video-box-inner-background">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="video-container">
                                <a href="https://www.youtube.com/embed/E-3VSZ91Ijs" data-toggle="lightbox" data-gallery="youtubevideos" id="open-youtube1" data-width="640">
                                    <img src="image/pharmerz-video-background-1.jpg" class="img-fluid">
                                </a>
                                <a class="video-hide" href="https://www.youtube.com/embed/0yZ2S6KTEpM" data-toggle="lightbox" data-gallery="youtubevideos" id="open-youtube2" data-width="640">
                                    <img src="image/pharmerz-video-background-2.jpg" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="sub-nav-adjs">
                <ul class="nav nav-pills nav-pills-stacked-example">
                    <li role="presentation" ng-click="whatTab();" ng-class="{active : what}"><a href="javascript:void(0)">What is Pharmerz</a></li>
                    <li role="presentation" ng-click="whoTab();" ng-class="{active : who}"><a href="javascript:void(0)">Who can join Pharmerz?</a></li>
                    <li role="presentation" ng-click="howTab();" ng-class="{active : how}"><a href="javascript:void(0)">How it Works?</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="what">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="what-is-Pharmerz">
                <span class="what-is-Pharmerz-txt">What is Pharmerz</span> 
            </div>
            <br/>
            <div class="pharmerz-intro-txt">
                <p>
                    pharmerz is an online marketplace focused on pharmaceutical industry. A platform where all pharmaceutical industry players can connect, 
                    transact and collaborate with each other.It focuses on providing a single platform to all kind of industry players ranging from Individual 
                    Buyers and Sellers, Small and Medium Enterprises (SMEs) to large Corporate
                </p>
                <p>
                    It provides access to wider marketplace and diverse portfolio of products catering to all your business requirements. Pharmerz focus to offer 
                    one-stop-shop solution to manufacturers, importers, exporters, traders, suppliers, distributors, dealers, agencies and service providers, where 
                    one can meet and engage with global business community
                </p>
            </div>
            <br/>
        </div>
    </div>
</div>

<div class="container" ng-show="who">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="who-can-join-pharmerz-txt">
                <span>
                    Who can join Pharmerz
                </span>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <div>
                        <div class="wcj-pharmerz-image">
                            <img src="image/whoispharmerz/api-manifacturer.png" alt="">
                        </div>
                        <div class="wcj-pharmerz-heading">
                            <span>Api Manufacturer</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <div>
                        <div class="wcj-pharmerz-image">
                            <img src="image/whoispharmerz/formulation-manifacturer.png" alt="">
                        </div>
                        <div class="wcj-pharmerz-heading">
                            <span>Formulation<br/>Manufacturer</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <div>
                        <div class="wcj-pharmerz-image">
                            <img src="image/whoispharmerz/intermediate-manifacturer.png" alt="">
                        </div>
                        <div class="wcj-pharmerz-heading">
                            <span>Intermediates<br/>Manufacturer</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <div>
                        <div class="wcj-pharmerz-image">
                            <img src="image/whoispharmerz/pharmaz-packeging-service.png" alt="">
                        </div>
                        <div class="wcj-pharmerz-heading">
                            <span>Pharma Packaging Services<br/>Manufacturer</span>
                        </div>
                    </div>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <center><button type="button" class="btn btn-primary viewall-btn">View All</button></center>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="how">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="how-Pharmerz-work">
                <span class="how-Pharmerz-work-txt">How Pharmerz Works?</span> 
            </div>
            <div class="how-Pharmerz-work-subtxt">
                <div>
                    <span>Pharmerz Simplifies Your Business through the following Simple task flow.</span>
                </div>
                <br/>
                <p>
                    Enter Product Detail -> Search For Supplies -> Get the List of Suppliers -> Shortlist Suppliers on the basis of location, availability, rating, feedback -> Send Request for Quotation to selected Suppliers -> Receive Quotation from Suppliers -> Negotiate the terms through Chat -> Generate Purchase Order and share with Supplier -> Receive Invoice -> Exchange Payment details, Delivery Receipt, other Transaction related docs -> Sit back, Relax and Enjoy Seamless Service from PHARMERZ
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="home-contact">
                <span>
                    Contact Us
                </span>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <br/>
        <form class="form-horizontal" id="home-contact-form">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="required-filed">
                                    <input type="text" class="form-control"  placeholder="Full Name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control"  placeholder="Company Name">
                            </div>
                        </div>
                    </div> 
                </div> 
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="required-filed">
                                    <input type="email" class="form-control"  placeholder="Email">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="required-filed">
                                    <input type="text" class="form-control"  placeholder="Contact Number">
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea class="form-control" rows="3" placeholder="Address" style="resize: none;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea class="form-control" rows="3" placeholder="Comment" style="resize: none;"></textarea>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <img src="image/mail.png" alt="">&nbsp; <span class="mail-txt">sales@pharmerz.com</span>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <img src="image/phone.png" alt="">&nbsp; <span class="phone-txt">+91 7722074442</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <button type="button" class="btn btn-primary contact-btn pull-right">SUBMIT</button>
                    </div> 
                </div>
            </div>
        </form>
    </div>
</div>
<br/><br/>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="stickyfooter">
        <div class="container">
            <div class="row">
                <div class="">
                    <div id="stickyfooter">
                        <div class='item'><a herf="#"><p>Abacavir Sulfate</a></p></div>
                        <div class='item'><a herf="#"><p>Ketoconazole Cream</a></p></div>
                        <div class='item'><a herf="#"><p>Acamprosate Calcium</a></p></div>
                        <div class='item'><a herf="#"><p>Caffine Anhydrous Ip</a></p></div>
                        <div class='item'><a herf="#"><p>Aceclofenac</a></p></div>
                        <div class='item'><a herf="#"><p>Abacavir Sulfate</a></p></div>
                        <div class='item'><a herf="#"><p>Jambu Surka syrup</a></p></div>
                        <div class='item'><a herf="#"><p>Aceclofenac & Paracetamol Tablets 100/325mg</a></p></div>
                        <div class='item'><a herf="#"><p>N(4)-Acetylcytosine, 98%</a></p></div>
                        <div class='item'><a herf="#"><p>Febuplen 80</a></p></div>
                        <div class='item'><a herf="#"><p>Tadalafil</a></p></div>
                        <div class='item'><a herf="#"><p>Tebipenem Pivoxil</a></p></div>
                        <div class='item'><a herf="#"><p>Zinc bromide 1.9M in 2-Methyl THF</a></p></div>
                        <div class='item'><a herf="#"><p>Ganacyclovir Sodium Sterile</a></p></div>
                        <div class='item'><a herf="#"><p>Keterolac tromethamine</a></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div> 

<!-- footer Part -->
<div ng-include="'views/footer.html'"></div>

<!-- Java script -->

<script>
    $(function(){
        
        /*-- video lightbox --*/
        $('#open-youtube1').click('[data-toggle="lightbox"][data-gallery="youtubevideos"]',function (e) {
            e.preventDefault();
            $(this).ekkoLightbox();
        });
        $('#open-youtube2').click('[data-toggle="lightbox"][data-gallery="youtubevideos"]',function (e) {
            e.preventDefault();
            $(this).ekkoLightbox();
        });
    
        
        /*-- product slider  --*/
        $("#stickyfooter").owlCarousel({
            loop:true,
            autoPlay: 1500,
            itemsDesktop : [1199,4],
            itemsDesktopSmall : [980,3],
            itemsTablet: [768,2],
            itemsTabletSmall: [768,2],
            itemsMobile : [479,1]
        }); 
        
    });
       
</script>

