<!--Header Part -->
<div ng-include="'views/header.html'"></div>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="privacy-heading">
                <span>
                    Privacy Policy
                </span>
            </div>
            <div class="bottomborder-gery"></div>
            <br/>
            <div class="privacy-blue-txt">
                <span>Last updated on 16-September-2015</span>
            </div>
            <div class="privacy-txt">
                <p>THIS PRIVACY POLICY IS AN ELECTRONIC RECORD IN THE FORM OF AN ELECTRONIC CONTRACT FORMED UNDER THE INFORMATION TECHNOLOGY ACT, 2000 AND THE RULES MADE THEREUNDER AND THE AMENDED PROVISIONS PERTAINING TO ELECTRONIC DOCUMENTS / RECORDS IN VARIOUS STATUTES AS AMENDED BY THE INFORMATION TECHNOLOGY ACT, 2000. THIS PRIVACY POLICY DOES NOT REQUIRE ANY PHYSICAL, ELECTRONIC OR DIGITAL SIGNATURE.</p>
                <p>THIS PRIVACY POLICY IS A LEGALLY BINDING DOCUMENT BETWEEN YOU AND PHARMERZ (BOTH TERMS DEFINED BELOW). THE TERMS OF THIS PRIVACY POLICY WILL BE EFFECTIVE UPON YOUR ACCEPTANCE OF THE SAME (DIRECTLY OR INDIRECTLY IN ELECTRONIC FORM, BY CLICKING ON THE 'I ACCEPT' TAB OR BY USE OR THE WEBSITE OR BY OTHER MEANS) AND WILL GOVERN THE RELATIONSHIP BETWEEN YOU AND PHARMERZ FOR YOUR USE OF THE WEBSITE (DEFINED BELOW).</p>
                <p>THIS DOCUMENT IS PUBLISHED AND SHALL BE CONSTRUED IN ACCORDANCE WITH THE PROVISIONS OF THE INFORMATION TECHNOLOGY (REASONABLE SECURITY PRACTICES AND PROCEDURES AND SENSITIVE PERSONAL DATA OF INFORMATION) RULES, 2011 UNDER INFORMATION TECHNOLOGY ACT, 2000; THAT REQUIRE PUBLISHING OF THE PRIVACY POLICY FOR COLLECTION, USE, STORAGE AND TRANSFER OF SENSITIVE PERSONAL DATA OR INFORMATION.</p>
                <p>PLEASE READ THIS PRIVACY POLICY CAREFULLY. BY USING THE WEBSITE, YOU INDICATE THAT YOU UNDERSTAND, AGREE AND CONSENT TO THIS PRIVACY POLICY. IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT USE THIS WEBSITE. YOU HEREBY PROVIDE YOUR UNCONDITIONAL CONSENT OR AGREEMENTS TO PHARMERZ AS PROVIDED UNDER SECTION 43A AND SECTION 72A OF INFORMATION TECHNOLOGY ACT, 2000.</p>
                <p>By providing us your Information or by making use of the facilities provided by the Website, You hereby consent to the collection, storage, processing and transfer of any or all of Your Personal Information and Non-Personal Information by Pharmerz as specified under this Privacy Policy. You further agree that such collection, use, storage and transfer of Your Information shall not cause any loss or wrongful gain to you or any other person.</p>
                <p>Srijan Digital Platforms Private Limited and its subsidiaries and affiliates and Associate Companies (individually and/ or collectively, "Pharmerz") is/are concerned about the privacy of the data and information of users (including sellers and buyers/customers whether registered or non- registered) accessing, offering, selling or purchasing products or services on Pharmerz's websites, mobile sites or mobile applications ("Website") on the Website and otherwise doing business with Pharmerz. "Associate Companies" here shall have the same meaning as ascribed in Companies Act, 2013.</p>
                <p>The terms "We" / "Us" / "Our" individually and collectively refer to each entity being part of the definition of Pharmerz and the terms "You" / "Your" / "Yourself" refer to the users.</p>
                <p>This Privacy Policy is a contract between You and the respective Pharmerz entity whose Website You use or access or You otherwise deal with. This Privacy Policy shall be read together with the respective Terms Of Use or other terms and condition of the respective Pharmerz entity and its respective Website or nature of business of the Website.</p>
                <p>Pharmerz has provided this Privacy Policy to familiarise You with.</p>
                <ul>
                    <li>The type of data or information that You share with or provide to Pharmerz and that Pharmerz collects from You;</li>
                    <li>The purpose for collection of such data or information from You; Pharmerz's information security practices and policies; and</li>
                    <li>Pharmerz's policy on sharing or transferring Your data or information with third parties.This Privacy Policy may be amended / updated from time to time. Upon amending / updating the Privacy Policy, we will accordingly amend the date above. We suggest that you regularly check this Privacy Policy to apprise yourself of any updates. Your continued use of Website or provision of data or information thereafter will imply Your unconditional acceptance of such updates to this Privacy Policy.</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="subheader-box">
                        <div class="blue-number-box">
                            <span>1.</span>
                        </div>
                       <div class="privacy-subheading">
                           <span>Information collected and storage of such Information:</span>
                       </div>
                    </div>
                    <div class="privacy-txt">
                        <div>
                            <span>1. Personal Information</span>
                        </div>
                        <div>Personal Information is Information collected that can be used to uniquely identify or contact You. Personal Information for the purposes of this Privacy Policy shall include, but not be limited to:</div>
                        <div class="row">
                            <div class="col-md-9 col-md-offset-2">
                                <div>
                                    <span>1.Your address</span>
                                </div>
                                <div>
                                    <span>2.Your address</span>
                                </div>
                                <div>
                                    <span>3.Your telephone number</span>
                                </div>
                                <div>
                                    <span>4.Your e-mail address or other contact information</span>
                                </div>
                                <div>
                                    <span>5.Your date of birth</span>
                                </div>
                                <div>
                                    <span>6.Your gender</span>
                                </div>
                                <div>
                                    <span>7.Information regarding your transactions on the Website, (including sales or purchase history)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- footer Part -->
<div ng-include="'views/footer.html'"></div>